.bookTOContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;;
}

.datesList{
    margin-top:3vh;
}

.dateBookingList{
    width: 20vw;
    border-radius: 2px;
    color: white;
    background-color: #1890ff;
    margin: .3em;
}